.App {
  text-align: center;
  align-items: center;
  align-content: center;
}

table
{
    border-collapse: collapse;
}

.table {
  width: 100%;
  border: 1px solid lightgray;

}

tr, td, th{
  padding: 10px;
  border: 1px solid lightgray;
}

thead, tr, thead > tr, tbody > tr{
  border: 1px solid lightgray;
}

.img_div{
  
  text-align: left;
  width: 30%;
  margin: auto;
}